.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
  flex-basis: 25%;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.name {
  font-weight: bold;
}
